* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}
form {
	
	padding: 50px 20px;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}

input {
	width: calc(80% - 11px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 20px
}

input[type='submit']{
	background-color: rgb(17, 239, 255);
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}


.ok {
	text-align: center;
	width: 100%;
	padding: 0px;
	background-color: rgb(1, 177, 247);
	color: rgb(23, 23, 24);
}
.bad {
	text-align: center;
	width: 100%;
	padding: 2px;
	background-color: rgb(167, 91, 150);
	color: rgb(23, 23, 24);
}

