                    /*Menu*/

       /* Barra de home  */
header{
        /*border: black 1px solid;
  margin: 5px;
  padding: 2px;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  .navegar{
  width: 1000px;
  margin: 30px auto;
  background-color:#fff;
  }
  .navegar ul{
  list-style: none;
  }
  .menu > li{
  position: relative;
  display: inline-block;
  }
  .menu > li > a{
  display: block;
  padding: 30px 20px;
  color: #353535;
  font-family: 'Open sans';
  text-decoration: none;
  }
  .menu li a:hover{
  color: #  CE7D35;
  transition: all .3s;
  
  }
                /* submenu*/
  .submenu{
  position: absolute;
  background-color: #333333;
  width: 200%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
  }
  .submenu li a{
  display: block;
  padding: 15px;
  color: #fff;
  font-family: 'Open sans';
  text-decoration: none;
  }
  .menu li:hover .submenu{
  visibility: visible;
  opacity: 1;
  }
  

/*/////////////////////////////////////////////////////////////////////////////////////////*/

/*Linea*/
#linea{
background-color: rgba(0, 0, 0, 1);
width: 100%;
border: black 1px solid;
}




                    