

* {
  }


/* Comentario  */

.asteriscos{
  color: yellow;
}
.Explicación{
  font-size: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 10% ;
  margin-left: 5%;
  text-shadow: 1px 1px 2px rgba(36, 36, 36, 0.9);  /* Sombra del texto */
  text-align: right;  /* Alineación del texto */
}

/* Indice
  (*) -
*/

.Indice{
  font-size: 14px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 0% ;
  margin-left: 25%; 
 text-align: left;
  text-shadow: 1px 1px 2px rgba(36, 36, 36, 0.9);  /* Sombra del texto */
}

  .title {
    font-size: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5% ;
    margin-left: 5%;
    text-shadow: 2px 4px 2px rgba(36, 36, 36, 0.9);  /* Sombra del texto */

    text-align: center;  /* Alineación del texto */

  }

  .Pagina{
    border: 1px solid black;
    margin-top: 2%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: lightblue;

    border: 1px solid #928e8e; /* Color del borde, debe ser más oscuro que fondo */
	background: #fdfffd; /* Fondo */
	border-radius: 6px;  /* Bordes redondos */
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.7), inset -2px -2px 3px rgba(0,0,0,.1), 3px 3px 10px rgba(0,0,0,.1);
	text-shadow: 1px 1px 1px rgba(255,255,255,.9);  /* Sombra del texto */
    
  }
  


  .Pagina1{
    position: relative;
    
    border: 1px solid black;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: lightblue;

    border: 1px solid #928e8e; /* Color del borde, debe ser más oscuro que fondo */
	background: #fdfffd; /* Fondo */
	border-radius: 6px;  /* Bordes redondos */
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.7), inset -2px -2px 3px rgba(0,0,0,.1), 3px 3px 10px rgba(0,0,0,.1);
	text-shadow: 1px 1px 1px rgba(255,255,255,.9);  /* Sombra del texto */
    
  }

.Contenedor{
  
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 5% ;
  margin-left: 5%;
  }

.input{
  border: 1px solid #928e8e; /* Color del borde, debe ser más oscuro que fondo */
	background: #fdfffd; /* Fondo */
	border-radius: 6px;  /* Bordes redondos */
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.7), inset -2px -2px 3px rgba(0,0,0,.1), 3px 3px 10px rgba(0,0,0,.1);
	text-shadow: 1px 1px 1px rgba(160, 157, 157, 0.9);  /* Sombra del texto */
  
  border: 1px solid black;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 5% ;
  margin-left: 5%;
  background-color: lightblue;
}

hr {

background-color: black;
  height: 3px;
  height: 2px;

  width: 80%;

}

/* Encabezado */ 
.textoh1{
  font-size: 30px;
  }
  .textoh2{
    font-size: 28px;
    }
    .textoh3{
      font-size: 22px;
      }
      .textoh4{
        font-size: 18px;
        }
        .textoh5{
          font-size: 17px;
          }
          .textoh6{
            font-size: 15px;
            }

