
         
/*/////////////////////////////////////////////////////////////////////////////////////////*/

  /*Cuerpo*/

  
div.imagenes{
  width: 100%;
  height: 550px;
  background: url("./img/showcase2.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.slider{
width: 500px;
height: 500px;
border-radius: 10px;
overflow: hidden;
}

.slides{
width: 500%;
height: 500px;
display: flex;
}


.slides input{
display: none;
}

.slide{
width: 20%;
transition: 2s;
}

  

.slide img{
width: 100%;
height: 100%;
object-fit: conver;
display: block;
}


/*css for manual slide navigation*/

.navigation-manual{
position: absolute;
width: 800px;
margin-top: -40px;
display: flex;
justify-content: center;
}

.manual-btn{
border: 2px solid #40D3DC;
padding: 4px;
border-radius: 10px;
cursor: pointer;
transition: 1s;
}

.manual-btn:not(:last-child){
margin-right: 40px;
}

.manual-btn:hover{
background: #3c15a7;
}

#radio1:checked ~ .first{
margin-left: 0;
}

#radio2:checked ~ .first{
margin-left: -20%;
}

#radio3:checked ~ .first{
margin-left: -40%;
}

#radio4:checked ~ .first{
margin-left: -60%;
}

#radio5:checked ~ .first{
margin-left: -80%;
}

/*css for automatic navigation*/
.navigation-auto{
position: absolute;
display: flex;
width: 800px;
justify-content: center;
margin-top: 460px;
}

.navigation-auto div{
border: 2px solid #40D3DC;
padding: 5px;
border-radius: 10px;
transition: 1s;
}

.navigation-auto div:not(:last-child){
margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
background: #40D3DC;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
background: #40D3DC;
}

  /* News Cards */
  .news-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 200px 0;
    text-align: center;
    color: #000000;

  }

  .news-cards img {
    
    width: 50%;
    height: 250px;
    vertical-align: middle;
  }

  .news-cards h3 {
    font-size: 10px;
    margin: 10px 0;
    color: #a00909;
  }

  .news-cards a {
    padding: 10px 0;
    color: #125af5;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
  }

  
/*/////////////////////////////////////////////////////////////////////////////////////////*/
