/*/////////////////////////////////////////////////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css?family=Open Sans|Pacifico');
*{ margin:0;
   padding: 0;
}
body{
  background:white;
  text-align:center;
}
div.cuerpo

/*/////////////////////////////////////////////////////////////////////////////////////////*/

                /* Barra de home  */
header {
  width: 100%;
}
.ancho{
  width: 80%;
  height: 70px;
  margin: auto;
}
.logo{
  width: 25%;
  height: 50px;
  background:white;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}
.logo p{
  color:black;
  font-size: 35px
}
.navegacion {
width: 100%;
}
.navegacion nav{
  width: 75%;
  max-width: 1000px;
  background: none;
  margin: 40px auto;
}
.navegacion nav ul{
  list-style: none;
  position: relative;
}
.navegacion nav > ul > li{
  display: inline-block;
}
.navegacion nav > ul > li > a {
  color: wheat;
  text-decoration: none;
  padding:20px;

}
.navegacion nav > ul > li > a span {
  font-size:  20px;
  position: absolute;
  bottom: -8px;
  display: none;
}
.navegacion nav > ul > li:hover span{
  display: flex;
}
.navegacion nav ul li .submenu{
background: white;
padding: 20px;
position: absolute;
display: none;
}
.navegacion nav ul li:hover .submenu{
  display: flex;
}
.navegacion nav ul li:hover .submenu .submenu-items{
  margin: 0 20px;
}
.navegacion nav ul li:hover .submenu .submenu-items p {
  font-weight: 600;
  width: 180px;
  display: block;
  padding-bottom: 5px;
  border-bottom: 1 px solid #565656;

}
.navegacion nav ul li:hover .submenu .submenu-items a{
  color: #474747;
}

/*/////////////////////////////////////////////////////////////////////////////////////////*/

  /*Linea*/
#linea{
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  border: black 1px solid;
}

/*/////////////////////////////////////////////////////////////////////////////////////////*/

  /*Cuerpo*/
  
 


/*css for manual slide navigation*/

.navigation-manual{
position: absolute;
width: 800px;
margin-top: -40px;
display: flex;
justify-content: center;
}

.manual-btn{
border: 2px solid #40D3DC;
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 1s;
}

.manual-btn:not(:last-child){
margin-right: 40px;
}

.manual-btn:hover{
background: #40D3DC;
}

#radio1:checked ~ .first{
margin-left: 0;
}

#radio2:checked ~ .first{
margin-left: -20%;
}

#radio3:checked ~ .first{
margin-left: -40%;
}

#radio4:checked ~ .first{
margin-left: -60%;
}

#radio5:checked ~ .first{
margin-left: -80%;
}

/*css for automatic navigation*/

.navigation-auto{
position: absolute;
display: flex;
width: 800px;
justify-content: center;
margin-top: 460px;
}

.navigation-auto div{
border: 2px solid #40D3DC;
padding: 5px;
border-radius: 10px;
transition: 1s;
}

.navigation-auto div:not(:last-child){
margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
background: #40D3DC;
}

}
  /* el tamaño de la separacion de los links de las fotos de la redes sociales  */

.links a {
  margin: 12px;
}
        /* tamaño de los iconos */
.links a i {
  font-size: 2rem;
}
.footer {
position: static-bottom;
left: 0;
width: 100%;
background-color: rgb(27, 142, 150);
color: white;
text-align: center;
bottom: 12%;

}


/*/////////////////////////////////////////////////////////////////////////////////////////*/
